main h1,
main h2,
main p {
  margin-bottom: 1em;
}

main p {
  margin-left: 2rem;
  max-width: 15rem;
  font-size: 12px;
  line-height: 14px;
}

main img {
  width: 100%;
}

main a {
  text-decoration: underline;
}
