@tailwind base;

*,
::before,
::after {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply flex;
  @apply flex-col;
  @apply min-h-full;
  @apply font-sans;
}

/* clears the 'X' from Internet Explorer and WebKit */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

@tailwind components;

.list-dot::before {
  content: '';
  @apply flex-shrink-0;
  @apply inline-block;
  @apply w-1;
  @apply h-1;
  @apply mt-2;
  @apply mr-6;
  @apply rounded-full;
  @apply bg-blue;
}

.button {
  min-width: 180px;
  @apply px-5;
  @apply py-2;
  @apply italic;
  @apply font-bold;
  @apply text-center;
  @apply bg-white;
  @apply border-2;
  @apply rounded-lg;
  @apply shadow-sm;
}

@tailwind utilities;

.scroll-smooth {
  scroll-behavior: smooth;
}

.scroll-pt-20 {
  scroll-padding-top: 5rem;
}

.bg-angled-yellow {
  background-image: linear-gradient(-38deg, theme('colors.yellow') 35%, transparent 35%);
}

.bg-angled-rose {
  background-image: linear-gradient(-38deg, theme('colors.rose') 35%, transparent 35%);
}

.bg-striped {
  background-image: linear-gradient(
    /* 180deg - 38deg */ 142deg,
    theme('colors.yellow') calc(1 / 3 * 100%),
    theme('colors.rose') calc(1 / 3 * 100%),
    theme('colors.rose') calc(2 / 3 * 100%),
    theme('colors.blue') calc(2 / 3 * 100%)
  );
}

.stretched-link::after {
  content: '';
  @apply absolute;
  @apply inset-0;
  @apply bg-transparent;
  @apply pointer-events-auto;
}
